body{
    background-color: antiquewhite ;
}

.gradient-background {
    background: linear-gradient(300deg, antiquewhite, #000, #d7cfce);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#page-title{
    color: antiquewhite !important;
}

#title{
    color: antiquewhite !important;
}

.custom-button{
    background-color: antiquewhite;
    color: #000;
    
}

.custom-button:hover{
    background-color: aqua;
    color: black;
    transition: 1s;
}

.custom-button-sec{
    color: #000;
}

.custom-button-sec:hover{
    color: #000;
    transition: 1s;

    
}


.custom-feat{
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
   
}



.album-section{
    margin-top: 150px;
}